<div class="container">
<ul class="pager">
  <!--<li class="next disable"><a href="#"> Next &rarr;</a></li>-->
  <li class="previous"><a (click)="goBack()">&larr; Back </a></li>
</ul>
</div>
<div class="container">

<div *ngIf="auth | async">
<div *ngIf="tournoi">
   <!--<h2></h2>
   <div><label>id: </label>{{(tournoi| async)?.id}}</div>
   <div><label>name: </label>{{(tournoi| async)?.name}}</div>
   <div><label>price: </label>{{(tournoi| async)?.price}}</div>
   <input [(ngModel)]="tournoi.name" value="nametest">

   <button (click)="goBack()">Back</button>
</div>
</div>-->

<div class="jumbotron">
  <h1>{{(tournoi| async)?.name}}</h1>
  <p>Pour vous inscrire et payer cliquez simplement via le bouton ci dessous</p>
  <p><a class="btn btn-primary btn-lg">je paye</a></p>
</div>

</div>
</div>

